/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/tests
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
CLAUDE.md
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.pdf
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
